@charset "utf-8";

#icon{
    display: none;
}
#menu{
    background-color:rgb(1, 82, 1);
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}
#menu>li{
    display:inline;
}
#menu>li:hover{
    background-color:rgba(54, 253, 54, 0.733);
    border-radius: 10px;
}
#menu>li>a{
    color: white;
    padding:10px;
    font-size: 1em;
    font-weight: bolder;
}