@charset "utf-8";
/* Mobile First */
@media screen and (max-width:768px){
    div>#img-dan-droid{
        background-image: url("../imagens/dan-droids-pq.png");
    }
    #menu>li>a{
        padding-top: 7px;
        text-align: center;
        height: 40px;
        background-color:rgb(1, 82, 1);
        display:block;
    }
    #menu>li>a:hover{
        background-color:rgba(54, 253, 54, 0.733);
    }
    #icon{
        cursor: pointer;
        display: block;
        text-align: center;
        background-color: rgb(1, 82, 1);
        color: white;
    }
}