@charset "utf-8";
/* Mobile First */
@media screen and (max-width:768px){
    /* Reset CSS*/
    *{
        list-style: none;
        text-decoration: none;
    }
    #menu>li>a{
        padding-top: 7px;
        text-align: center;
        height: 40px;
        background-color: silver;
        display:block;
    }
    #icon{
        display: block;
        text-align: center;
        background-color: rgb(70, 69, 69);
        color: white;
    }
}