@charset "utf-8";
/* Mobile First */
@media screen and (max-width:768px){
    
    #img-dan-droid{
        background: url("../imagens/dan-droids-pq.png") no-repeat;
        height:80vh;
        width: auto;
        background-size:contain;
        background-position: center center;
    }
    #img-irina{
        background: url("../imagens/irina-blok-pq.jpg") no-repeat;
        height:40vh;
        width: auto;
        background-size: auto;
        background-position: center center;
    }
    #menu>li>a{
        padding-top: 7px;
        text-align: center;
        height: 40px;
        background-color:rgb(1, 82, 1);
        display:block;
    }
    #menu>li>a:hover{
        background-color:rgba(54, 253, 54, 0.733);
    }
    #icon{
        display: block;
        text-align: center;
        cursor: pointer;
        background-color:rgb(1, 82, 1);
        color: white;
    }
}