@charset "utf-8";
@media all{
    /*RESET CSS */
    *{
        margin:0;
        padding:0;
        border:none;
        box-sizing:border-box;
    }
    ul,a,abbr{
        text-decoration: none;
        list-style: none;   
    }
    abbr{
        font-family: verdana,sans-serif;
        font-weight: bold;
    }
}